@tailwind base;
@tailwind components;
@tailwind utilities;


.sora-family {
    font-family: "Sora", sans-serif;
}
.display-family {
    font-family: "ADLaM Display", serif;
}
.header-bottom-border {
    border-bottom: 1px solid #111111;
}